@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.header {
    padding: 30px;
    text-align: center;
    background: #003594;
    color: white;
    font-size: 30px;
}

#submit {
    -webkit-appearance: none;
    border-radius: 0px;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    background: #003594;
    border-color: #003594;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: #3F434A;
    text-align: center;
}
