@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.header {
    padding: 30px;
    text-align: center;
    background: #003594;
    color: white;
    font-size: 30px;
}
.sidebar {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: auto;
    position: relative;
    overflow: auto;
}
.sidebar a {
    display: block;
    float: left;
    color: #3F434A;
    padding: 16px;
    text-decoration: none;
}
.sidebar a.active {
    background-color: #3F434A;
    color: white;
}
.sidebar a:hover {
    background-color: #3F434A;
    color: white;
}
#submit {
    -webkit-appearance: none;
    border-radius: 3px;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    background: #003594;
    border-color: #003594;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: #3F434A;
    text-align: center;
}
