<!DOCTYPE html>
<html>
<title>About</title>
<head>
    <!--Get stylesheet-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<!--Special formatting for page header-->
<div class="header">
    <h1>About</h1>
</div>
<!--Display topbar with every page-->
<div class="sidebar">
    <a href="/">Home</a>
    <a href="/edit">Edit</a>
    <a href="/results">Results</a>
    <a href="/email">Email</a>
    <a class="active" href="/about">About</a>
</div>
<br>
<!--div makes centered left-align block-->
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left; width:80%;">
        <!--About page text-->
        <p> 
        The SLSD Assignment Completion Database allows teachers and administrators of the Southern Lehigh School Distict
        to easily track which students have completed what assignments during periods of distance learning. The website
        works by allowing teachers to select a subject and write out the ID numbers of each student that did not complete
        the assignments for the subject. This information is used to update a database containing every student's information.
        (The database can be viewed under the "Results" tab.)
        </p>
        <p>
        Each student is marked as having their assignments completed by default. This way, only the students
        who have not completed their work have to be entered. All changes are permanent, but the database resets
        to default every Monday at 9:00 AM EST.
        </p>
        <hr>
        <p>
        This website was written using a JavaScript/HTML/CSS frontend, a Python backend, and a PostgreSQL database. All of this
        was hosted on Heroku. Check out this website's code on <a href="https://github.com/CyrusD123/sl-assignments">GitHub</a>.
        </p>
    </div>
</div>

</body>
</html>