<!DOCTYPE html>
<html>
<title>Edit</title>
<head>
  <!--Include favicon-->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!--Get jQuery and stylesheet-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<!--Special formatting for page header-->
<div class="header">
  <h1>Edit</h1>
</div>
<!--Display topbar with every page-->
<div class="sidebar">
  <a href="/">Home</a>
  <a class="active" href="/edit">Edit</a>
  <a href="/results">Results</a>
  <a href="/history">History</a>
  <a href="/email">Email</a>
  <a href="/about">About</a>
</div>

<!--Loading wheel (hidden by default)-->
<div id="transparentRect" class="center" style="display: none"></div>
<div id="loader" class="center" style="display: none"></div>

<!--Form for editing database after a mistake-->
<form id="editForm">
  <p>Made a mistake when submitting the form? Use this form to mark students as<br>complete when they were previously marked as incomplete.</p>
  <br>
  <label for="choice1">Select a subject:</label>
  <!--divs keep left-aligned block on center of page-->
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
        <!--Radio buttons for subject selection-->
        <input type="radio" id="choice1" name="choice" value="Science"> Science<br>
        <input type="radio" name="choice" value="Math"> Math<br>
        <input type="radio" name="choice" value="English"> English<br>
        <input type="radio" name="choice" value="Social Studies"> Social Studies<br>
        <input type="radio" name="choice" value="World Language"> World Language<br>
        <input type="radio" name="choice" value="PE/Health/DE"> PE/Health/DE<br>
        <input type="radio" name="choice" value="Special Education"> Special Education<br>
        <input type="radio" name="choice" value="Music"> Music<br>
        <input type="radio" name="choice" value="Art"> Art<br>
        <input type="radio" name="choice" value="Family Consumer Science"> Family Consumer Science<br>
        <input type="radio" name="choice" value="Technology Education"> Technology Education<br>
        <input type="radio" name="choice" value="Business"> Business<br>
        <input type="radio" name="choice" value="Guidance Notes"> Guidance Notes<br>
        <input type="radio" name="choice" value="LCTI"> LCTI<br>
        <input type="radio" name="choice" value="Supports"> Supports<br>
    </div>
  </div>
  <br>
  <label for="idText">Enter the ID numbers for<br>students who need to be changed<br>(one per line):<br></label>
  <!--Textarea for entering IDs-->
  <textarea id="idText" rows="10" cols="38"></textarea>
  <br>
  <!--Password field-->
  <label for="passwordField">Password:</label>
  <input type="password" id="passwordField" autocomplete="current-password" required>
  <br>
  <br>
  <!--Submit button-->
  <input type="button" id ="submit" value="Submit">
</form>

<script type="text/Javascript">
    $(document).ready(function(){
      var PASS;
      $.ajax({
              type: 'GETPASSWORD',
              url: '/edit',
              // On success
              success: function (data) {
                PASS = data;
              },
              // On error
              error: function (data) {
                console.log("Error");
              }
            });
      // When submit is clicked:
      $("#submit").click(function(){
        var enteredPassword = document.getElementById("passwordField").value;
        if (enteredPassword == PASS) {
          // JavaScript confirm popup
          if (confirm("Are you sure you want to continue?") == true) {
            
            // Get radio button(s) data
            var radios = document.getElementsByName('choice');
            var userChoice;

            // Iterate through each radio to see which one is checked. Set checked one to userChoice variable
            for (var i = 0; i < radios.length; i++) {
              if (radios[i].checked) {
                userChoice = radios[i].value;
              }
            }
            
            // Get all text from the textarea
            var idValue = document.getElementById("idText").value;
            // Split it into an array by line
            var idLines = idValue.split("\n");
            
            document.querySelector("#transparentRect").style.display = "block";
            document.querySelector("#loader").style.display = "block";
            document.getElementById("submit").disabled = true;

            // Send ajax call
            $.ajax({
              type: 'POST',
              contentType: 'application/json',
              // Under data, send subject choice and IDs
              data: JSON.stringify({"subject": userChoice, "ids": idLines}),
              dataType: 'json',
              url: '/edit',
              // On success, route to submitted page
              success: function (data) {
                window.location = "/submitted";
              },
              // On error, display a popup and let them try again
              error: function (data) {
                alert("Error! Please make sure that all ID numbers are correct and that all parts of the form are filled in.");
              }
            });
          }
        }
        else {
          alert("Password was incorrect! Please try again.");
        }
      });
    });
  </script>
</body>
</html>
