<!DOCTYPE html>
<html>
<title>Email</title>
<head>
    <!--Include favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--Get stylesheet-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<!--Special formatting for page header-->
<div class="header">
    <h1>Email</h1>
</div>
<!--Display topbar with every page-->
<div class="sidebar">
    <a href="/">Home</a>
    <a href="/edit">Edit</a>
    <a href="/results">Results</a>
    <a class="active" href="/email">Email</a>
    <a href="/about">About</a>
</div>
<br>
<div style="text-align: left;">
    {% if oneArr, twoArr, threeArr, fourArr, fiveArr, sixArr%}
        <p><strong>Students with 1 assignment incomplete:</strong></p>
        {% for email in oneArr %}
            <p>{{ email }}</p>
        {% endfor %}
        <br>
        <br>
        <p><strong>Students with 2 assignments incomplete:</strong></p>
        {% for email in twoArr %}
            <p>{{ email }}</p>
        {% endfor %}
        <br>
        <br>
        <p><strong>Students with 3 assignments incomplete:</strong></p>
        {% for email in threeArr %}
            <p>{{ email }}</p>
        {% endfor %}
        <br>
        <br>
        <p><strong>Students with 4 assignments incomplete:</strong></p>
        {% for email in fourArr %}
            <p>{{ email }}</p>
        {% endfor %}
        <br>
        <br>
        <p><strong>Students with 5 assignments incomplete:</strong></p>
        {% for email in fiveArr %}
            <p>{{ email }}</p>
        {% endfor %}
        <br>
        <br>
        <p><strong>Students with 6 or more assignments incomplete:</strong></p>
        {% for email in sixArr %}
            <p>{{ email }}</p>
        {% endfor %}
    {% else %}
        <p>Result wasn't passed.</p>
    {% endif %}
</div>

</body>
</html>