<!DOCTYPE html>
<html>
<title>About</title>
<head>
    <!--Get stylesheet-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<!--Special formatting for page header-->
<div class="header">
    <h1>Email</h1>
</div>
<!--Display topbar with every page-->
<div class="sidebar">
    <a href="/">Home</a>
    <a href="/results">Results</a>
    <a href="/about">About</a>
    <a class="active" href="/email">Email</a>
</div>
<br>
<div text-align="left">
    <p>emails here</p>
</div>

</body>
</html>