<!DOCTYPE html>
<html>
<title>SLSD Assignment Completion Database</title>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div class="header">
  <h1>SLSD Assignment Completion<br>Database</h1>
</div>

<form id="askForm">
  <label for="choice1">Select a subject:</label>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
        <input type="radio" id="choice1" name="choice" value="Science"> Science<br>
        <input type="radio" id="choice2" name="choice" value="Math"> Math<br>
        <input type="radio" id="choice3" name="choice" value="English"> English<br>
        <input type="radio" id="choice4" name="choice" value="Social Studies"> Social Studies<br>
        <input type="radio" id="choice5" name="choice" value="World Language"> World Language<br>
        <input type="radio" id="choice6" name="choice" value="PE/Health/DE"> PE/Health/DE<br>
        <input type="radio" id="choice7" name="choice" value="Special Education"> Special Education<br>
        <input type="radio" id="choice8" name="choice" value="Music"> Music<br>
        <input type="radio" id="choice9" name="choice" value="Art"> Art<br>
        <input type="radio" id="choice10" name="choice" value="Family Consumer Science"> Family Consumer Science<br>
        <input type="radio" id="choice11" name="choice" value="Technology Education"> Technology Education<br>
        <input type="radio" id="choice12" name="choice" value="Business"> Business<br>
        <input type="radio" id="choice13" name="choice" value="Guidance Notes"> Guidance Notes<br>
        <input type="radio" id="choice14" name="choice" value="LCTI"> LCTI<br>
        <input type="radio" id="choice15" name="choice" value="Supports"> Supports<br>
    </div>
  </div>
  <br>
  <label for="idText">Enter the ID numbers for<br>students who didn't turn in their work<br>(one per line):<br></label>
  <textarea id="idText" rows="10" cols="38"></textarea>
  <br>
  <input type="button" id ="submit" value="Submit">
</form>

<br>

<button onclick="window.location = '/results';">View Results</button>

<script>
    $(document).ready(function(){
      $("#submit").click(function(){
        if (confirm("Are you sure you want to continue? All changes are permanent until the end of the week.") == true) {

          var radios = document.getElementsByName('choice');
          var userChoice;

          for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
              userChoice = radios[i].value;
            }
          }

          var idValue = document.getElementById("idText").value;
          var idLines = idValue.split("\n");

          $.ajax({
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({"subject": userChoice, "ids": idLines}),
            dataType: 'json',
            url: '/',
            success: function (data) {
              window.location = "/submitted";
            },
            error: function (data) {
              alert("Error! Please make sure that all ID numbers are correct and that all parts of the form are filled in.");
            }
          });
        }
      });
    });
  </script>
</body>
</html>
