<!DOCTYPE html>
<html>
<title>Submission Received</title>
<head>
    <!--Get stylesheet-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<!--Special formatting for page header-->
<div class="header">
    <h1>Submission Received</h1>
</div>
<!--Display topbar with every page-->
<div class="sidebar">
    <a href="/">Home</a>
    <a href="/results">Results</a>
    <a href="/about">About</a>
</div>
<br>
<!--Display links to view results or go back to the home page-->
<p> 
View the
 <a href="/results">Results</a>
 or return to the
 <a href="/">Home Page</a>
.
</p>

</body>
</html>
